# Ignore everything
/*

# But don't ignore these directories
!/hypr/
!/waybar/
!/wlogout/
!/rofi/
!/mpv/
!/kitty/
!/dunst/
!/bash/
!/gtk-3.0/
!/gtk-4.0/
!/chromium-flags.conf
!/user-dirs.dirs
!/uwsm/
!/readme
!.gitignore
