@import url("../../.cache/wal/colors-waybar.css");

* {
  background-color: @background;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'CaskaydiaMono Nerd Font Propo';
  font-size: 12px;
}

.modules-left{
  margin-left: 8px;
}

/* Workspace states for numbers */
#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

/* Empty workspace */
#workspaces button.empty {
  opacity: 0.5;
}

/* Urgent workspace (manual intervention required) */
#workspaces button.urgent {
    background-color: #eb4d4b;
    color: #ffffff;
    /* animation: urgent-blink 1s steps(2, jump-none) infinite; */
}

@keyframes urgent-blink {
    0% { background-color: #eb4d4b; color: #ffffff; }
    50% { background-color: #ffffff; color: #eb4d4b; }
    100% { background-color: #eb4d4b; color: #ffffff; }
}

#clock,
#battery,
#backlight,
#bluetooth,
#custom-screenrecording-indicator,
#network,
#pulseaudio,
#tray,
#idle_inhibitor {
  min-width: 12px;
  margin: 0 7.5px;
}

#clock {
  margin-right: 8.75px;
}

.hidden {
  opacity: 0;
}

#battery.charging {
    color: #ffffff;
}

#battery.plugged {
    color: #ffffff;
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    color: #ff0000;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#backlight {
    color: rgba(255, 255, 255, 1);
}

tooltip {
  padding: 2px;
}

#network {
    color: rgba(255, 255, 255, 1);
}

#network.disconnected {
    color: #F4320B;
}

#pulseaudio {
    color: rgba(255, 255, 255, 1);
}

#pulseaudio.muted {
    color: #F4320B;
}

#idle_inhibitor.activated {
    color: #7ADF7A;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 8.75px;
  font-size: 10px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}
